* {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif !important;
}
.material-icons {
    font-family: 'Material Icons' !important;
}
body {
    background: rgba(0, 0, 0, 1);
}
table {
    background: #fafafa !important;
}
md-content.md-default-theme, md-content {
    background: none;
}
md-content> h1 {
    margin: 0;
}
md-card-media img {
    max-width: 400px !important;
    max-width: 465px !important;
}
md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    opacity: .70;
    background-color: rgba(10, 10, 10, 1.0);
}
.dialogdemoBasicUsage #popupContainer {
    position: relative;
}
md-card-title {
    padding-bottom: 0 !important;
}
md-card-actions {
    padding-top: 0 !important;
}
md-card-media {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Bottom Navigation*/

md-sidenav {
    background: #E1DAD4;
    /*background: #fafafa;*/
    background: #C69C6D !important;
}
.md-sidenav-bottom {
    color: #C69C6D;
}
.md-sidenav-bottom a {
    color: #C69C6D !important;
    background: #fafafa !important;
    /*border-top: #C69C6D 6px solid;*/
    /*border-bottom: #C69C6D 6px solid;*/
    margin: 6px 0px !important;
    padding: 6px 14px !important;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12), inset 0px 4px 5px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.md-sidenav-bottom a:nth-of-type(5), .md-sidenav-bottom a:nth-of-type(8) {
    border-radius: 5px 0 0 5px;
}
.md-sidenav-bottom a:nth-of-type(6), .md-sidenav-bottom a:nth-of-type(9) {
    border-radius: 0 5px 5px 0;
    margin-right: 16px !important;
}
.md-sidenav-bottom a:nth-of-type(3) {
    border-radius: 5px 5px 5px 5px;
    margin-right: 16px !important;
}
.md-sidenav-bottom .page-all {
    color: #fafafa !important;
    background: #C69C6D !important;
    padding: 6px 14px !important;
    margin: 0 !important;
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.md-sidenav-bottom .page-all:before, .md-sidenav-bottom .page-all:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}
.md-sidenav-bottom .page-all:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
.md-sidenav-bottom .page-all.md-warn {
    border-radius: 3px 0 0 3px;
    box-shadow: none;
}
a.md-button.md-default-theme.md-warn, a.md-button.md-warn, .md-button.md-default-theme.md-warn, .md-button.md-warn {
    color: #fafafa;
    background: #C69C6D;
    font-weight: bold;
}

/*.material-icons {
    padding: 10px 6px 0 0;
}*/


/* Lightbox Styles */

.previous-button, .next-button, .previous-button:hover, .next-button:hover {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    !important;
    border: none !important;
    top: 45%;
    border-radius: 5px;
}
.previous-button .material-icons, .next-button .material-icons {
    font-size: 80px;
    color: #fafafa;
    padding: 0px;
    width: 60px;
}
.previous-button {
    left: 30px;
}
.next-button {
    right: 30px;
}
.previous-button .material-icons {
    margin-left: -20px;
    padding-right: 10px;
}
.next-button .material-icons {
    margin-left: -20px;
    padding-right: 10px;
}

/* General Page Styling */

body> .ng-scope> .ng-scope:first-child {
    background: url('images/splash.jpg');
    background-size: cover;
}
body> .ng-scope> video.ng-scope:first-child {
    background: #000;
}
.page-content {
    background: none;
}
.content-container {
    background: #fafafa;
    border-radius: 5px;
}
.content-container p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: .5em;
}

/* Splash Page */

md-dialog.splash-dialog {
    background: none;
    color: #fafafa;
    box-shadow: none;
    border-radius: 0;
    width: 800px;
}
md-dialog.splash-dialog md-dialog-content {
    /*max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;*/
    overflow: hidden;
    text-align: center;
}
md-dialog.splash-dialog img.logo-img {
    margin-bottom: 50px;
    width: 500px;
    margin: 0 auto;
}
md-dialog.splash-dialog .md-button {
    margin: 40px auto 80px;
    /*width: 200px;*/
    padding: 20px 60px;
    font-size: 400%;
}
.landing-button {
    margin: 0px auto 0px;
    /*width: 200px;*/
    /*padding: 0px 60px;*/
    font-size: 500%;
    color: #ffb47c;
    text-shadow: 1px 0px 1px #97694a, 0px 1px 1px #ffb47c, 2px 1px 1px #97694a, 1px 2px 1px #ffb47c, 3px 2px 1px #97694a, 2px 3px 1px #ffb47c, 3px 2px 1px #97694a, 2px 3px 1px #ffb47c, 3px 2px 1px #97694a, 2px 3px 1px #ffb47c, 3px 2px 1px #97694a, 2px 3px 1px #ffb47c, 3px 2px 1px #97694a;
}

/* Landing Page */

.page-content.landing {
    /*background: url('/assets/images/splash.jpg');
    background-size: cover;*/
}
.landing-page {
    position: relative;
    min-height: 600px;
    width: 100%;
}
.landing-page img {
    max-width: 240px;
}
.one-logo-button, .eclipse-logo-button, .kestrel-logo-button {
    position: absolute;
}
.one-logo-button {
    top: 50px;
    width: 100%;
    text-align: center;
}
.logo-layout {
    padding-top: 620px;
    width: 100%;
    text-align: center;
}
.logo-layout > * {
    position: relative;
    display: inline-block;
}
.one-logo-button img {
    max-width: 360px
}
.eclipse-logo-button {
    /*right: 50px;*/
    padding-top: 35px;
    padding-left: 40px;
    float: left;
}
.kestrel-logo-button {
    /*top: 400px;*/
    margin-top: 0px;
    padding-right: 20px;
    /*right: 50px;*/
}
.canada-logo-button {
  padding-top: 35px;
  padding-right: 40px;
  float: right;
}

/* Testimonials */

.testimonials-page .md-headline {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.testimonials-page md-card md-card-title {
    padding: 16px 16px 0;
}

/* Performance App Specific */

.page-content.performance, .page-content.performance md-content {
    padding: 0;
}
