<div layout-gt-md="column" flex class="landing-page">
    <a
    ui-sref="main.one" ui-sref-opts="{ reload: true }" href="#/one" class="one-logo-button"><img src="assets/images/one-logo.png"/></a>
    <div class="logo-layout">
      <a ui-sref="main.eclipse" ui-sref-opts="{ reload: true }" href="#/eclipse" class="eclipse-logo-button"><img src="assets/images/eclipse-logo.png"/></a>
      <a ui-sref="main.kestrel" ui-sref-opts="{ reload: true }" href="#/kestrel" class="kestrel-logo-button"><img src="assets/images/kestrel-logo.png"/></a>
      <a ui-sref="main.canada" ui-sref-opts="{ reload: true }" href="#/canada" class="canada-logo-button"><img src="assets/images/canada-logo-2.png"/></a>
    </div>
</div>
